<br>
<br>
<br>
<br>
<br>

<div class="container" col-md-4 >

<div class="example-container"  class="col-2 ">
    <mat-form-field class="col-2">
      <mat-select placeholder="Select By "  formControlName="select_by" name="select_by">
        <mat-option value="option">Accepted</mat-option>
        <mat-option value="option">Transit</mat-option>
        <mat-option value="option">Ignored</mat-option>
        <mat-option value="option">Completed</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<table class="table table-striped table-hover" >
<!--Table-->
<!--Table-->
<!--Table-->
  <!--Table head-->
  <thead class="mdb-color darken-1">
      <tr class="text-white">
        <th>Commodity ID</th>
        <th>Miller Name</th>
        <th>Type of Commodity</th>
        <th>Total Weight Carried(in qtls)</th>
        <th>Total Cost</th>
        <th>Transit Loss</th>
        <th>Shed No. Alloted</th>
        <th>Status</th>
      </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
      <tr>
          <td>111</td>
          <td>Mark</td>
          <td>Rice</td>
          <td>200</td>
          <td>20000</td>
          <td>Yes</td>
          <td>12</td>
          <td>Accepted</td>
      </tr>
      <tr>
          <td>112</td>
          <td>Jacob</td>
          <td>Wheat</td>
          <td>300</td>
          <td>30000</td>
          <td>No</td>
          <td>13</td>
          <td>Transit</td>

      </tr>
      <tr>
          <td>114</td>
          <td>Sree</td>
          <td>Rice</td>
          <td>100</td>
          <td>10000</td>
          <td>Yes</td>
          <td>14</td>
          <td>Completed</td>

      </tr>
  </tbody>
  <!--Table body-->
</table>
<!--Table-->
</div>
