<br>
<br>
<br>
<br>
<br>

<div class="container" col-md-4 >
<!--Table-->
<!--Table-->
<!--Table-->
<table class="table" >

  <!--Table head-->
  <thead class="mdb-color darken-2">
      <tr class="text-white">
        <th>Miller ID</th>
        <th>Miller Name</th>
          <th>Commodity ID</th>
          <th>Type of Commodity</th>
          <th>Total Weight Carried(in qtls)</th>
          <th>Total Cost</th>
        <th>Transit Loss</th>
        <th>Shed No. Alloted</th>
      </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
      <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>111</td>
          <td>Rice</td>
          <td>200</td>
          <td>20000</td>
          <td>Yes</td>
          <td>12</td>
      </tr>
      <tr>
          <th scope="row" >2</th>
          <td>Jacob</td>
          <td>112</td>
          <td>Wheat</td>
          <td>300</td>
          <td>30000</td>
          <td>No</td>
          <td>13</td>

      </tr>
      <tr>
          <th scope="row" >3</th>
          <td>Sree</td>
          <td>114</td>
          <td>Rice</td>
          <td>100</td>
          <td>10000</td>
          <td>Yes</td>
          <td>14</td>

      </tr>
  </tbody>
  <!--Table body-->
</table>
<!--Table-->
</div>
