<br>
<br>
<br>
<br>
<br>

<div class="container" col-md-4 >
<!--Table-->
<!--Table-->
<h1>TOTAL NUMBER OF SHEDS : 447</h1>
<br>

<div class="container" col-md-4>

  <table class="table" >

  <!--Table head-->
  <thead class="mdb-color darken-2">
      <tr class="text-white">

         <th>Filled Sheds</th>
         <th>Available Sheds</th>
      </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
      <tr>

          <td>123</td>
          <td>324</td>

      </tr>

  </tbody>
  <!--Table body-->

</table>
<div></div>
<!--Table-->
</div>

