<br>
<br>
<br>
<br>
<br>


  <div class="container col-md-6">
    <!-- Card -->
    <div class="card  ">

      <!-- Card body -->
      <div class="card-body col-md-11">

        <!-- Material form register -->
      <form>
        <p class="h5 text-center mb-4">Place Order</p>
      
        <div class="md-form">
        
          <input type="text" id="defaultForm-email" class="form-control" mdbActive>
          <label for="defaultForm-email">Number of Goods</label>
        </div>
      
        <div class="md-form">
  
          <input type="text" id="defaultForm-pass" class="form-control" mdbActive>
          <label for="defaultForm-pass">Type of Commodity</label>
        </div>

        <div class="example-container col-12 ">
          <mat-form-field class="col-12">
            <mat-select placeholder="Request Type">
              <mat-option value="option">In</mat-option>
              <mat-option value="option">Out</mat-option>
            </mat-select>
            <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
          </mat-form-field>
        </div>
      
        <div class="text-center">
          <button class="btn btn-default waves-light" mdbRippleRadius>Request</button>
        </div>
      </form>
        <!-- Material form register -->

      </div>
      <!-- Card body -->

    </div>
    <!-- Card -->
  </div>

